* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}

.padre {
  display: flex;
  flex-flow: column nowrap;
}

.menu {
  background: rgba(10, 10, 10, 0.4);
  display: flex;
  flex-flow: row nowrap;
  padding: 10px;
}
.logo {
  margin: 0 6px;
  flex: 3 1 auto;
}
.logo a {
  font-size: 30px;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  display: inline-block;
  color: rgb(247, 231, 231);
  padding: 10px 20px;
  font-size: 25px;
  text-decoration: none;
}
i {
  font-size: 19px;
  margin: 8px;
  text-align: center;
}

.menu_navegacion {
  display: flex;
  flex: 1 1 auto;
  justify-content: end;
  flex-wrap: nowrap;
}

.menucel{
  display: none;
}

.padre {
  background: url(fondo2.jpg);
  background-size: cover;
  background-position: center;
  height: calc(100vh);
}

.section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  width: auto;

}

.imagen {
  width: 42%;
  padding: 30px 40px;
  justify-content: center;
}
.imagen img {
  width: 100%;
}

.descripcion {
  text-align: justify;
  margin-left: 10px;
  padding: 70px 40px 20px 20px;
  width: 55%;
}

h1 {
  font-size: 40px;
  color: rgb(15, 15, 15);
  padding-bottom: 20px;
}
p {
  background: rgba(252, 246, 246, 0.4);
  color: rgb(24, 24, 24);
  padding: 13px;
  font-size: 25px;
}

a:hover {
  color: rgb(29, 212, 136);
}

#check-menu{
  display: none;
}


@media Screen and (max-width:1190px){
  .imagen{
   margin-top: 75px;
  }

}





@media Screen and (max-width: 1034px) {
  .padre {
    height: 100vh;
  }

  .imagen {
    margin-top: 140px;
    padding: 0px 0px 0px 10px;
  }

  h1{
    font-size: 40px;
  }

  p{
    font-size: 25px;
  }
}






@media Screen and (max-width: 792px) {
  .padre {
   height: 100%;
   
  }
  .menu{
    padding: 0;
  }
  .menu_navegacion{
    position: fixed;
    display: flex;
   flex-direction: column;
    justify-content: flex-start;
    background: gray;
    width: 60%;
    height: 100vh;
    left: 0;
    margin-left: -60%;
    transition: all .5s;
  }

  .menu_navegacion i{
    padding: 10px;
    font-size: 30px;
  }
 
  .menucel{
    display: block;
    color: white;
    cursor: pointer;

  }



  i{
    font-size: 40px;
    margin-right: 40px;
  }

  .section {
    flex-direction: column;
    align-items: center;
  }

  .descripcion {
    width: 80%;
    padding: 20px 40px 20px 20px;
  }

  .imagen {
    margin-top: 20px;
    width: 60%;
    padding: 0px;
  }

  h1 {
    text-align: center;
    font-size: 60px ;
  }
  p {
    text-align: justif;
    font-size: 40px ;
  }


 
    
 #check-menu:checked~.menu_navegacion{

  margin: 0;
 }

}