* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}

.padre {
  display: flex;
  flex-flow: column nowrap;
  height: 650px;
}

.menu {
  background: rgba(10, 10, 10, 0.4);
  display: flex;
  flex-flow: row nowrap;
  padding: 10px;
}
.logo {
  margin: 0 6px;
  flex: 3 1 auto;
}
.logo a {
  font-size: 30px;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif
}

a {
  display: inline-block;
  color: rgb(247, 231, 231);
  padding: 10px 20px;
  font-size: 25px;
  text-decoration: none;
}
i{
  font-size: 19px;
  margin: 8px;
  text-align: center;
}

.menu_navegacion {
  display: flex;
  flex: 1 1 auto;
  justify-content: end;
  
}

.padre {
  background: url(fondo1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: contain;
}
  
  .section {
    display: flex;
    flex-flow: column nowrap;
    display: block;
    height: max-content;
    width: auto;
  }
  
  
  
  a:hover{
    color: rgb(29, 212, 136);
  }

  .proyectos{
    margin: 70px 20px 10px 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    height: auto;
  
  }
  .proyecto{
    justify-content: center;
    width: 300px;
    margin: 5px;
    background: rgb(0, 0, 0, .3);
  }

  .h1{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h1{
    font-size: 50px;
  }
  p{
    text-align: justify;
  }
  .img{
    margin-left: 84px;
  }

  .cel{
    display: none;
  }
  #menu-cel{
    display: none;
  }
  @media (max-width:660px){
    .proyecto{
      margin: 10px 0 10px 0;
    }

  }

  @media (max-width:970px){
    .padre{
      height: 100%;
    }
  }
 
  @media Screen and (max-width: 792px) {
    .padre {
      height: 100%;
    }
    .menu {
      padding: 0;
    }
    .menu_navegacion {
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 70%;
      height: 100vh;
      left: 0;
      background: gray;
      top: 0;
      text-align: end;
      transition: all 0.5s;
      left: -70%;
    }
    
    .cel {
      display: block;
      color: white;
      cursor: pointer;
    }
  
    i {
      font-size: 40px;
      margin-right: 40px;
    }
    .menu_navegacion i {
      padding: 10px;
      font-size: px;
    }
   
  
    .cel {
      display: block;
      color: white;
      cursor: pointer;
    }
  

  
   #menu-cel:checked ~ .menu_navegacion{
    left: 0;
   }
  
  
  }
  